nav.nav-menu {
  display: flex;
  align-items: center;
  /*width: min(100%, 70%);*/
  background: #100f10;
  padding: 0.8rem;
}

nav.nav-menu h2 {
  color: #fff;
  font-size: 25px;
  display: flex;
  flex: 1 2 auto;
  letter-spacing: 3px;
}

ul.menu {
  display: flex;
  flex: 0 1 auto;
}

ul.menu li {
  margin: 1rem;
}

ul.menu li a {
  color: #ddd;
  transition: all 0.2s ease;
}

ul.menu li a:hover {
  color: #fff;
}

.slider img {
  height: 65vh;
  width: 100%;
}

.search {
  width: 300px;
  border-radius: 5px;
  text-align: center;
  height: 30px;
}

.course {
  font-size: 40px;
}
